<link rel="stylesheet" href="/css/aside.css">
<aside class="aside">
    <div class="content">
        <img src="/images/Logo.jpg" alt="">
        <ul>
            <li>
                Home
            </li>
            <li>
                Profile
            </li>
            <li>
                Your Posts
            </li>
            <li>
                Settings
            </li>
        </ul>
        <img id="profile"src="<%=user.avatar%>" alt="<%=user.name%>" width="100">
    </div>
</aside>