<li>
    <%if((locals.user)&&(locals.user.id==comment.user.id)){%>
    <button style="background-color: brown; ">
        <a style="text-decoration: none; color: cornsilk;" href="/comments/destroy/<%=comment.id%>">Del</a>
    </button>
    <%}%>
    <p>
        <%=comment.content%>
    </p>
    <small>
        By
        <%=comment.user.name%>
    </small>
</li>