<h1>Flock Users</h1>
<ul>
    <%for(user of user_list){%>
    <li>
        <p>
            <%=user.name%>
        </p>
        <p>
            <%=user.email%>
        </p>
        <hr>
    </li>
    <%}%>
</ul>