<h1>Sign in</h1>
<form action="/users/signin" method="post">
    <input type="email" name="email" id="" placeholder="Email">
    <input type="password" name="password" id="" placeholder="Password">
    
    <button type="submit">Sign In</button>
</form>