footer
{
    margin-bottom: 0;
    margin-top: 5%;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 41, 158);
    color: burlywood;
    position: relative;
    .footer-content{
        margin: 2%;
    }
}