footer
{
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 41, 158);
    color: burlywood;
}