
    #feed-posts
    {
        #post-form-container{
            margin-left: 5%;
            img{
                border-radius: 50%;
                width: 100px;
                height: 100px;
            }
        }
        h4{
            // display: block;
            text-align: center;
            margin-bottom: 5%;
            font-size: large;
            text-transform: uppercase;
            font-weight: 900;
        }
        [name="content"]
        {
            margin-left: 25%;
        }
        ul{list-style: none;}
        .each-post{
            background-color: transparent;
            height: auto;
            // position: relative;
            padding: 3%;
            margin-top: 2%;
            margin-right: 5%;
            border-top: 1.4px solid whitesmoke;
            box-shadow: -10px 10px 20px 2px rgba(26, 25, 25, 0.774);
            border-radius: 10px;
            ul{
            text-align: center;
            }
        }
    }