body{
    margin: 0;
    background-color: rgb(24, 31, 44);
    color: antiquewhite;
    // position: relative;
    a{
        text-decoration: none;
        color: white;
    }
}
#layout-main{
    width: 55vw;
    // background-color: brown;
    margin-left: 12%;
    margin-top: 10%;
    // display: inline-block;
}