<div>
    <p>
        Hi <%=comment.user.name%>
    </p>
    <br>
    <br>
    <p>
        Your comment i.e. <strong><%=comment.content%></strong>just got published !
    </p>
    <p>Thanks !</p>
</div>