footer {
  margin-bottom: 0;
  margin-top: 5%;
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

footer .footer-content {
  margin: 2%;
}
