header nav {
  position: relative;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f299e;
  color: burlywood;
  text-align: center;
}

header nav h1 {
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

header nav ul {
  list-style: none;
  width: auto;
  margin-right: 2%;
}

header nav ul li {
  display: inline;
  margin-left: auto;
}

header nav ul a {
  text-decoration: none;
  color: bisque;
}
