header nav {
  position: fixed;
  top: 0;
  right: 27%;
  height: 10vh;
  width: 62vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181f2c;
  color: white;
  text-align: center;
  border-bottom: 0.8px solid white;
}

header nav h1 {
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 5%;
  font-size: large;
  font-weight: 800;
}

header nav ul {
  list-style: none;
  width: auto;
  margin-right: 2%;
}

header nav ul li {
  display: inline;
  margin-left: auto;
}

header nav ul a {
  text-decoration: none;
  color: white;
}
