h1 {
  text-align: center;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-weight: 900;
}

#main-content {
  display: flex;
  justify-content: center;
}

#main-content #feed-posts {
  background-color: rgba(27, 39, 107, 0.465);
  position: relative;
  min-width: 50%;
  padding: 3%;
  box-shadow: -10px 10px 20px 2px rgba(26, 25, 25, 0.774);
  border-radius: 10px;
}

#main-content #feed-posts h4 {
  text-align: center;
  margin-bottom: 5%;
  font-size: large;
  text-transform: uppercase;
  font-weight: 900;
}

#main-content #feed-posts [name="content"] {
  margin-left: 25%;
}

#main-content #feed-posts ul {
  list-style: none;
}

#main-content #feed-posts .each-post {
  background-color: rgba(102, 100, 195, 0.472);
  height: auto;
  position: relative;
  padding: 3%;
  margin-top: 2%;
  margin-right: 5%;
  border-top: 1.4px solid whitesmoke;
  box-shadow: -10px 10px 20px 2px rgba(26, 25, 25, 0.774);
  border-radius: 10px;
}

#main-content #feed-posts .each-post ul {
  text-align: center;
}

#main-content #user-friends {
  width: 30%;
  padding: 10px;
  height: auto;
  margin-left: 5%;
  border-left: 1.5px solid lightgray;
  background-color: rgba(27, 39, 107, 0.465);
  box-shadow: -10px 10px 20px 2px rgba(26, 25, 25, 0.774);
  border-radius: 10px;
}
