#feed-posts #post-form-container {
  margin-left: 5%;
}

#feed-posts #post-form-container img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#feed-posts h4 {
  text-align: center;
  margin-bottom: 5%;
  font-size: large;
  text-transform: uppercase;
  font-weight: 900;
}

#feed-posts [name="content"] {
  margin-left: 25%;
}

#feed-posts ul {
  list-style: none;
}

#feed-posts .each-post {
  background-color: transparent;
  height: auto;
  padding: 3%;
  margin-top: 2%;
  margin-right: 5%;
  border-top: 1.4px solid whitesmoke;
  box-shadow: -10px 10px 20px 2px rgba(26, 25, 25, 0.774);
  border-radius: 10px;
}

#feed-posts .each-post ul {
  text-align: center;
}
